{# templates/admin/dashboard.html.twig #}

{# {% extends '@EasyAdmin/default/layout.html.twig' %} #}

{% block header_title %}
    {# Your custom header content goes here #}
    <h1>Custom Dashboard Header</h1>
{% endblock %}  
{% block body %}

    <p>Custom Dashboard Header</p>
{% endblock %}  