<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
</head>
<body>
    <h1> demande de {{contact.fullName}}</h1>
      <p> Email:{{contact.email}}</p>
        <p> Subject:{{contact.subject}}</p>
         <p> Contenu:
         <div> {{contact.text|raw}} </div>
         </p>
</body>
</html>


